<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CAS.UA.Model.Designer.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <CAS.UA.Model.Designer.Common.Properties.Settings>
      <setting name="XmlSDKConfigurationNamespace" serializeAs="String">
        <value>http://opcfoundation.org/UA/SDK/Configuration.xsd</value>
      </setting>
      <setting name="XmlSDKConfigurationPrefix" serializeAs="String">
        <value>sdk</value>
      </setting>
      <setting name="XmlUATypesNamespace" serializeAs="String">
        <value>http://opcfoundation.org/UA/2008/02/Types.xsd</value>
      </setting>
      <setting name="XmlUATypesPrefix" serializeAs="String">
        <value>ua</value>
      </setting>
      <setting name="XmlSchemainstanceNamespace" serializeAs="String">
        <value>http://www.w3.org/2001/XMLSchema-instance</value>
      </setting>
      <setting name="XmlSchemainstancePrefix" serializeAs="String">
        <value>xsi</value>
      </setting>
      <setting name="XmlSdkComNamespace" serializeAs="String">
        <value>ttp://opcfoundation.org/UA/SDK/COM/Configuration.xsd</value>
      </setting>
      <setting name="XmlSdkComPrefix" serializeAs="String">
        <value>com</value>
      </setting>
    </CAS.UA.Model.Designer.Common.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
